<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="methods" thread-count="10">
    <test verbose="2" preserve-order="true"
          name="C:/Users/Deepak Dontineni/me/untitled/src/test/java/module1Tests/apiTests/Module1ApiTests.java">
        <classes>
            <class name="module1Tests.apiTests.Module1ApiTests">
                <methods>
                    <include name="test_postApi"/>
                    <include name="test_getApi"/>
                    <include name="test_putApi"/>
                    <include name="test_deleteApi"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>